.ceo-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    margin-left: 30%;
    background-color: #fff;
    transition: transform 0.2s;
    max-width: 400px;
    /* O cualquier valor adecuado para tu diseño */
    width: 100%;
    /* Asegúrate de que se ajuste al contenedor */
    box-sizing: border-box;
}


.ceo-card:hover {
    transform: scale(1.05);
}

.ceo-card img {
    border-radius: 8%;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0px;
}

.ceo-card h2 {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.ceo-card p {
    font-size: 1em;
    color: #666;
    margin: 8px 0;
}

.ceo-card .ceo-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ceo-container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el contenido */
    width: 100%;
    margin-bottom: 20px;
    /* Añade un margen inferior si es necesario */
}