@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
/* Variables de color */
:root {
  --rojo: #ab273c; /* Rojo principal */
  --azul: #1a2a36; /* Color oscuro */
  --blanco: #ffffff; /* Blanco */
  --negro: #171717; /* Negro */
  --background-light: #f4f4f4; /* Fondo claro */
  --gris: #808080
}

body {
  background-color: var(--blanco);
  color: var(--azul);
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  scroll-behavior: smooth;
  overflow: visible !important;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}




.enLinea {
  display: flex;
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
  align-items: flex-start; /* Alinea los elementos verticalmente al inicio */
  gap: 2%; /* Espacio entre los elementos dentro del enLinea*/
}

.izquierda, .derecha {
  flex: 1; /* Asigna espacio proporcional a ambos elementos */
  max-width: 45%; /* Limita el ancho máximo */
}

.justify-left {
  text-align: left;
}

.oculto {
  visibility: hidden;
}

.alinearEnColumna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Colores para los textos en linea*/

.text-white {
  color: white;
}

.text-red {
  color: var(--rojo);
}

.text-black {
  color: black;
}

/* Clase para hacer el tamaño de letra */
.large-text-title {
  font-size: 2.5rem; /* Tamaño de fuente más grande */
}

.very-large-text-title {
  font-size: 3rem; /* Tamaño de fuente más grande */
}

.text-body {
  font-size: 0.9rem; /* Tamaño de fuente más grande */
}

.large-text-body {
  font-size: 1rem; /* Tamaño de fuente más grande */
}

.negrita {
  font-weight: bold;
}

/* Padeos para el padding sensei */

.padding-vertical-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-vertical-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-vertical-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-vertical-up-1 {
  padding-top: 1rem;
}

.padding-vertical-up-2 {
  padding-top: 2rem;
}

.padding-vertical-up-3 {
  padding-top: 3rem;
}

.padding-vertical-down-1 {
  padding-bottom: 1rem;
}

.padding-vertical-down-2 {
  padding-bottom: 2rem;
}

.padding-vertical-down-3 {
  padding-bottom: 3rem;
}

.padding-izquierdo-1 {
  padding-left: 1rem;
}

.padding-izquierdo-2 {
  padding-left: 2rem;
}

.padding-izquierdo-3 {
  padding-left: 3rem;
}

.padding-derecho-1 {
  padding-right: 1rem;
}

.padding-derecho-2 {
  padding-right: 2rem;
}

.padding-derecho-3 {
  padding-right: 3rem;
}



/* For rotations */

.rotating {
  display: inline-block; /* Ensure the element rotates properly */
  animation: spin 5s linear infinite; /* Apply the animation */
}

@keyframes spin {
  from {
      transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
      transform: rotate(360deg); /* End at 360 degrees */
  }
}

/* Media Queries para iPhone */
@media (min-width: 375px) and (max-width: 428px) {
  body {
    font-size: 14px; /* Ajusta el tamaño de la fuente si es necesario */
  }

  p,
  h1 {
    margin-left: 5%;
    margin-right: 5%;
  }

  .izquierda,
  .derecha {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .enLinea {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  p,
  h1 {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1024px) {
  p,
  h1 {
    margin-left: 15%;
    margin-right: 15%;
  }
}
