/* Variables de color */
:root {
  --rojo: #c4042c; /* Rojo principal */
  --azul: #1a2a36; /* Color oscuro */
  --blanco: #ffffff; /* Blanco */
  --background-light: #f4f4f4; /* Fondo claro */
}

body {
  background-color: var(--background-light);
  color: var(--secondary-color);
  line-height: 1.6;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
