.section-background {
    background-color: var(--azul);
    padding: 20px;
    margin: 20px 0;
    color: white; /* Optional: to ensure text is readable */
    margin-bottom: 0;
}

.section-background:nth-child(even) {
    background-color: #f0f0f0; /* Light grey for alternating sections */
    color: black; /* Optional: to ensure text is readable */
}

.text-white {
    color: white;
}
