/* Estilos base para el contenedor <picture> */
.picture-container {
    display: block;
    margin: 0rem auto;
}

/* Estilos base para las imágenes */
.picture-container img {
    width: 100%;
    height: auto;
}

/* Hover base (común para todas las imágenes) */
.picture-container img:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

/* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME*/

.picture-Home-Intro img {
    max-width: 100%;
    /* Diferente tamaño específico */
    border-radius: 0.5rem;
    /* Mayor redondez */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 1s ease, box-shadow 0.3s ease;
    /* margin-left: 8%; */
    margin: 0 auto;
    display: block;
    align-items: center;
}

/* EMPRESA EMPRESA EMPRESA EMPRESA EMPRESA EMPRESA EMPRESA EMPRESA EMPRESA*/

.picture-Empresa-Hoy img {
    max-width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 1s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    display: block;
}

.picture-Empresa-Hoy img:hover {
    transform: scale(1.01); /* Por ejemplo, escala al 110% */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.picture-Empresa-End img {
    max-width: 100%;
    border-radius: 0rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 1s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    display: block;
}

.picture-Empresa-End img:hover {
    transform: scale(1.03); /* Por ejemplo, escala al 110% */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

/* SERVICIOS SERVICIOS SERVICIOS SERVICIOS SERVICIOS SERVICIOS SERVICIOS*/
.picture-Servicios-Panoramica img {
    max-width: 95.7%;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    margin-left: 2.1%;
    margin-top: 0.3%;
}

/* CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO*/

.picture-Contacto img {
    max-width: 99%;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 1s ease, box-shadow 0.3s ease;
    /* margin-left: 15%; */
    margin: 0 auto;
    display: block;
}

/* ANIVERSARIO ANIVERSARIO ANIVERSARIO ANIVERSARIO ANIVERSARIO ANIVERSARIO*/
.picture-aniversario img {
    max-width: 70%;
    border-radius: 100%;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 1s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    display: block;
}

.picture-aniversario img:hover {
    transform: scale(1.009); /* Por ejemplo, escala al 110% */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}