.burger-button {
    color: inherit;
    cursor: pointer;
}

.menu-container {
    padding: 0;
    margin: 0;
}

.menu-item {
    text-decoration: none;
    color: var(--negro);
    display: block;
    padding: 10px; /* Eliminar padding */
    background-color: var(--blanco);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0; /* Eliminar margen */
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%;
    border-radius: 8%;
}


.menu-item:hover {
    background-color: var(--rojo);
    color: var(--blanco);
}