/* Estilo FlipCard */
.flip-card {
    perspective: 1000px; /* Medida absoluta para consistencia */
    width: 600px; /* 23rem traducido a px para tamaño fijo */
    height: 600px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg); /* Rota la tarjeta al pasar el mouse */
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta la cara trasera cuando no es visible */
    border-radius: 8px; /* Aumenta el redondeo para un diseño más moderno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.flip-card-front {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.flip-card-back {
    background-color: var(--azul);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    padding: 16px;
    text-align: center;
}

.icon-container {
    margin-bottom: 16px; /* Espacio fijo entre el icono y el texto */
}

.icon-container img {
    width: 160px; /* Tamaño absoluto para mayor control */
    height: 160px;
    object-fit: contain; /* Asegura que la imagen se ajuste correctamente */
}
