/* Estilos para el header */

.header-appbar {
  background-color: var(--rojo) !important;
  /* Utiliza la variable de color definida en App.css */
  color: var(--blanco);
  font-family: 'Roboto', ;
  /* Define la fuente del header */
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
}

.header-title {
  flex-grow: 1;
  /* Hace que el título ocupe el máximo espacio posible */
}

.header-button {
  background-color: transparent;
  color: var(--blanco);
  /* Los botones heredan el color blanco del header */
}

.header-button:hover {
  background-color: var(--blanco);
  /* Añadir un efecto al pasar el ratón */
  color: var(--rojo);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* Ajusta según sea necesario; puedes usar `px`, `em`, etc., si prefieres */
}