.text-box-Home-Resumen {
  width: 1600px;
  height: auto; 
  padding: 30px;
  padding-right: 90px;
  border: 0px solid #a19a9a; 
  margin-top: 0px;
  margin-left: 80px;
  background-color: var(--blanco); /* Fondo opcional */
  justify-content: justify; /* Justifica el texto */
  text-align: justify; /* Justifica el texto */
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box-Equipo-CEO {
  width: 900px;
  height: auto; 
  padding: 30px;
  padding-right: 30px;
  border: 0px solid #a19a9a; 
  margin-top: 0px;
  /* margin-left: 80px; */
  margin-right: 10px;
  background-color: var(--rojo); /* Fondo opcional */
  justify-content: justify; /* Justifica el texto */
  text-align: justify; /* Justifica el texto */
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box-Equipo {
  width: 900px;
  height: auto; 
  padding: 30px;
  padding-right: 30px;
  border: 0px solid #a19a9a; 
  margin-top: 0px;
  /* margin-left: 80px; */
  margin-right: 10px;
  background-color: var(--rojo); /* Fondo opcional */
  justify-content: justify; /* Justifica el texto */
  text-align: justify; /* Justifica el texto */
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}