.text-box {
    width: 600px; /* Puedes ajustar el ancho fijo a tus necesidades */
    height: 350px; /* Puedes ajustar la altura según lo que necesites */
    padding: 30px;
    padding-right: 30px;
    border: 1px solid #ccc; 
    margin-top: 10px;
    margin-left: 90px;
    box-sizing: border-box; /* Asegura que el padding no expanda el tamaño total */
    background-color: none; /* Fondo opcional */
    white-space: normal; /* Permite saltos de línea */
    justify-content: justify; /* Justifica el texto */
    text-align: justify; /* Justifica el texto */

  }
  