/* Clase base para bloques de texto independientes */
.text-box {
  width: 90%; /* Tamaño relativo por defecto */
  height: auto;
  padding: 2rem; /* Padding en unidades relativas */
  margin: 1rem auto; /* Centra el texto y deja espacio arriba/abajo */
  background-color: var(--blanco); /* Fondo blanco por defecto */
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem; /* Tamaño del texto relativo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Clases específicas para variaciones de los bloques de texto */

/* Bloque específico para el resumen en Home */
.text-box-Home-Resumen {
  max-width: 80%; /* Ancho específico para este bloque */
  background-color: var(--blanco); /* Fondo blanco */
  border-radius: 1rem; /* Bordes redondeados por defecto */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Bloque específico para equipo en Home (CEO) */
.text-box-Home-Equipo-CEO {
  width: 100%;
  padding: 3%; /* Ajuste de padding específico */
  color: var(--blanco);
  background-color: var(--rojo);

}

/* Bloque específico para equipo en Home */
.text-box-Home-Equipo {
  width: 100%;
  padding: 15% 0 1% 10%; /* Ajuste específico de padding */
  background-color: var(--rojo);
}

/* Bloque específico para Empresa */
.text-box-Empresa {
  padding: 3% 0 1% 0; /* Padding superior, inferior y derecho */
  margin-top: 4%; /* Espaciado superior adicional */
  color: var(--blanco);
  background-color: var(--rojo);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra más intensa */
  border-radius: 0.3rem; /* Bordes menos redondeados */
}

/* Bloque específico para Servicios */
.text-box-Servicios {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem; /* Ajuste de tamaño de fuente */
}

/* Bloque específico para Equipo (CEO) */
.text-box-Equipo-CEO {
  width: 100%;
  padding: 2rem; /* Ajuste de padding específico */
  color: var(--blanco);
  background-color: var(--rojo);
  margin-right: 1rem; /* Ajuste de margen derecho */
}

/* Bloque específico para Equipo */
.text-box-Equipo {
  width: 90%;
  padding: 2rem; /* Ajuste de padding */
  margin-right: 1rem; /* Ajuste de margen derecho */
  background-color: var(--rojo);
}

/* Media Queries para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .text-box {
    max-width: 90%; /* Ajusta el ancho para que se vea más proporcionado */
    font-size: 1.1rem; /* Tamaño de texto ligeramente más grande */
    margin: 2rem auto; /* Aumenta el margen superior e inferior */
    padding: 1rem; /* Agrega un poco de espacio interno */
  }
}

/* Media Queries para iPhone */
@media (min-width: 375px) and (max-width: 428px) {
  .text-box {
    max-width: 90%; /* Ocupa casi todo el ancho, con margen lateral */
    font-size: 1rem; /* Tamaño adecuado para pantallas pequeñas */
    margin: 1.5rem auto; /* Espaciado superior e inferior */
    padding: 1rem; /* Espacio interno para mejorar legibilidad */
  }
}