.carousel-root {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.carousel-item {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}

.carousel-image {
   max-width: 100%;
   height: auto;
   object-fit: cover; /* Hace que la imagen cubra todo el contenedor sin distorsionarse */
}

.carousel-nav-button {
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   border-radius: 50%;
   padding: 10px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   opacity: 0.6; /* Ajusta la transparencia del botón de navegación */
   z-index: 2;
   opacity: 0.6; /* Ajusta la transparencia del botón de navegación */
}

.carousel-nav-button:hover {
   background-color: var(--rojo) !important;
   color:var(--blanco) !important; /* Ejemplo de color al pasar el ratón */
}
