/* Estilos para el header */

.header-appbar {
    background-color: var(--rojo) !important; /* Utiliza la variable de color definida en App.css */
    color: var(--blanco);
  }
  
  .header-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .header-title {
    flex-grow: 1; /* Hace que el título ocupe el máximo espacio posible */
  }
  
  .header-button {
    color: var(--blanco); /* Los botones heredan el color blanco del header */
  }
  
  .header-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Añadir un efecto al pasar el ratón */
  }
  