.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Ajusta el espacio entre botones según sea necesario */
}

.header-button {
    background: transparent;
    color: inherit;
    font-weight: bold;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
}

.header-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Ejemplo de hover */
}