.logo {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.3);
    width: auto;
    /* Cambia el tamaño según tu preferencia */
    height: auto;
    /* Mantiene las proporciones */
    max-height: 80px;
    /* Asegura que no sea demasiado alto */
    object-fit: contain;
    /* Ajusta la imagen sin distorsionar */
    margin: 0 auto;
    display: block;
}

.logo:hover {
    transform: scale(1.4);
}