/* ScrollButton.css */
.ScrollButton-button {
    position: fixed;
    bottom: 3%;
    right: 3%;
    background-color: var(--rojo);
    color: white;
    padding: 0.5rem;
    border-radius: 4rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.1s ease-in-out;
    visibility: visible;
    z-index: 1000;
  }
  
@media (max-width: 768px) {
    .ScrollButton-button {
        bottom: 20px;
        right: 10px;
    }
}

.ScrollButton-button:hover {
    color: var(--rojo);
    background-color: var(--blanco);
}